@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital@0;1&family=Playwrite+NL+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

/* General layout */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.mainBody {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../images/Background.png);
  background-size: cover;
  object-fit: contain;
}

.container {
  max-width: 700px;
  min-height: 700px;
  background-color: #ffa8a848;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  font-size: 45px;
  font-family: 'Yatra One', sans-serif;
}

.heading {
  font-family: 'Quando', cursive;
}

.headingmain {
  font-family: 'Yatra One', sans-serif;
  font-size: 30px;
}

.floating-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.floating-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.floating-input:focus {
  border-color: #dc3545;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.floating-label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #6c757d;
  font-size: 14px;
  transition: all 0.2s;
  padding: 0 5px;
}

.form-floating>label {
  padding: 1rem;
  color: #000000;
  font-family: 'quando', cursive;
  left: 10px;
}

.floating-input:focus+.floating-label,
.floating-input:not(:placeholder-shown)+.floating-label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #dc3545;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger.active,
.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #ffffff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  z-index: 1050;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.d-flex button {
  min-width: 100px;
}

.floating-input:focus+.floating-label,
.floating-input:not(:placeholder-shown)+.floating-label {
  top: -10px;
  left: 20px;
  font-size: 12px;
  color: #dc3545;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dc3545;
}

.form-floating>.form-control:focus~label {
  color: #dc3545;
  padding-left: 10px;
}

.homeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backCircle {
  background-color: #dc3546;
  border-radius: 50%;
  padding: 45px 0;
  max-width: 300px;
  cursor: pointer;
  margin: 20px 0 40px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.415);
}

.backCircle:hover {
  animation: swirl 3s ease 2;
}

.button {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  font-family: 'Yatra one', sans-serif;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 5%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.form-content {
  position: relative;
  transition: all 1s ease-in-out;
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 0.7s forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 0.7s forwards;
}

.slide-out-right {
  transform: translateX(0);
  animation: slideOutRight 0.3s forwards;
}

.slide-out-left {
  transform: translateX(0);
  animation: slideOutLeft 0.3s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.step-icon {
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.step-icon.active {
  transform: scale(1.2);
  color: #dc3545;
}

@keyframes swirl {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(720deg);
  }
}

@media screen and (min-width: 730px) {
  .container {
    margin: 5vw;
  }
}


.spacebelow {
  margin-bottom: 10px;
}

.gender-card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 25px;
}

.large-svg-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.largemalesvg {
  transform: rotate(180deg);
}

.gender-radio-buttons {
  display: none;
}

.smallsvg {
  width: 10px;
}

.other-gender {
  width: 15px;
}

.malesmallsvg {
  transform: rotate(225deg);
}

.genderlabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  padding: 8px 16px;
  gap: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.femalebutton:hover {
  background-color: rgb(245, 185, 195);
}

.malebutton:hover {
  background-color: #569fcf;
}

.otherbutton:hover {
  background-color: #4d227a;
}

#female:checked+.femalebutton {
  background-color: rgb(245, 185, 195);
}

#male:checked+.malebutton {
  background-color: #569fcf;
}

#other:checked+.otherbutton {
  background-color: #4d227a;
}

.displayEnabled {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  bottom: 20px;
}

@media screen and (min-width: 770px) {
  .displayDisabled {
    display: none;
  }

  .displayEnabled {
    display: flex;
  }
}

/* navigation .buttons */
.next {
  background-color: #ee5d5d;
  color: white;
  border-radius: 50px;
  padding: 10px 270px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.next:hover {
  border-color: #dc3545;
  color: #dc3545;
}

.back {
  border-color: #dc3545;
  color: #dc3545;
  border-radius: 50px;
  padding: 10px;

  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.back:hover {
  background-color: #ee5d5d;
  color: white;
}

.submit {
  font-family: 'Yatra one', cursive;
  border-color: #dc3545;
  color: #ffffff;
  background-color: #ee5d5d;
  border-radius: 50px;
  padding: 10px 250px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.submit:hover {
  font-family: 'Yatra one', cursive;
  border-color: #dc3545;
  color: #ffffff;
  background-color: #ee5d5d;
  border-radius: 50px;
  padding: 10px 250px;
  font-size: 16px;
}

.submit:active {
  opacity: 0.9;
  -webkit-transform: scale(95%);
  -ms-transform: scale(95%);
  transform: scale(95%);
}
.submitted{
  display: none;
}